.container{
    max-width: 600px;
    margin: auto;
}

div{
    margin-bottom: 15px;
}

label{
    display: block;
    font-weight: bold;
}

input.ng-invalid-ng-touched, select.ng-invalid.ng-touched{
    border-color: brown;
}

input, select{
    width: 100%;
    padding: 8px;
}

/*estilos basicos para el modal*/

.modal-overlay{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.formularioCompra{
    background-color: #000;
}