<h1>Lista de deseados:</h1>

<p *ngIf="productosEnDeseados.length===0">
    no hay nada guardado en su lista de deseados :P
</p>

<div class="card-container">
    <ng-container *ngIf="productosEnDeseados.length > 0">
        <ng-container *ngFor="let item of productosEnDeseados; let i = index">
            <div class ="card">
                <img [src]="item.producto.imagen" alt="{{item.producto.nombre}}" class="product-image">
                <h2>{{item.producto.nombre}}</h2>
                <p class="scroll-text">{{item.producto.descripcion}}</p>
                <p>Precio: ${{item.producto.precio}}</p>
                <button type="button" id="boton-card" class="btn btn-outline-primary" (click)="agregar(item.producto, item.producto.id)">Agregar al carrito</button>
                <button type="button" id="fav-card" class="btn btn-outline-primary" class="deseados" (click)="quitarDeseados(item.producto.id)">✘</button>
            </div>
        </ng-container>
    </ng-container>
</div>