.icono{
    height: 60px;
    width: 60px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.icono:hover{
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.navbar{
    background: linear-gradient(to left, #d99fff, #d494ff);
    width: 100%;
}

#navbar-container{
    display: flex;
    justify-content: center; /*lo centra orizontalmente*/
    flex-wrap: wrap; /*permite que se acomoden en pantallas chicas (flexea y warpea)*/
}

.nav-item {
    background: #fff0;
    height: 100%;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.nav-item:hover {
    background: #ffffff;
    transform: scale(1.1);
}