.icono{
    height: 75px;
    width: 75px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.icono:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.navbar{
    background: linear-gradient(to left, #ff66f7, #ac44a6);
    width: 100%;
}

#navbar-container{
    display: flex;
    justify-content: center; /*lo centra orizontalmente*/
    gap: 20px; /*espacio entre las tarjetas*/
    flex-wrap: wrap; /*permite que se acomoden en pantallas chicas (flexea y warpea)*/
    padding: 20px;
}

.nav-item {
    background: linear-gradient(to top, #ff86f9, #ffa4fa);
    border-radius: 7%;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.nav-item:hover {
    background: linear-gradient(to top, #ffffff, #ffffff);
    transform: scale(1.1);
}
