<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid" class="navbar">
    <a class="navbar-brand" href=""><img class="icono" src="https://thumbs.dreamstime.com/b/gato-divertido-que-se-coloca-con-el-carro-de-la-compra-105519874.jpg"></a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navbar-container">

        <li class="nav-item">
          <a class="nav-link" routerLink="/inicio">Inicio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/productos">Productos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/ofertas">Ofertas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/deseados">Lista de deseados</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contacto">Contacato</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/quienes-somos">¿Quienes somos?</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/carrito">Carrito</a>
        </li>

      </ul>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>