html, body {
  height: 100%;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}


body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* hace que el contenido principal ocupe todo el espacio disponible */
}