.carrito-color-top{
    background-color: #b13dff;
}

.carrito-color-1{
    background-color: #b13dff;
}

.carrito-color-0{
    background-color: #b13dff;
}

.boton-compra{
    background-color: #b13dff;
    border-radius: 5%;
    transition: background 0.3s ease-in-out;
}

.boton-compra:hover{
    background-color: #ffffff;
}

.boton{
    background-color: #b13dff;
    color: #ffffff;
    gap: 10px;
}

.boton:hover{
    background-color: #b13dff;
    color: rgb(255, 255, 255)ff;
}

.total{
    color: #ffffff;
    text-shadow: 0px 1px 3px #b13dff;
}


@keyframes sis {
    from {
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

img{
    animation: sis 2s linear infinite;
}