<h1 class="text-center my-t">Carrito de Compras:</h1>

<div *ngIf="productoEnCarrito.length === 0" class="alert alert-warning text-center">
    <p>No hay productos en el carrito :P</p>
</div>

<div *ngIf="productoEnCarrito.length > 0" class="container">

<table class="table table-hover table-bordered aling-middle text-center">
    <thead>
        <tr>
            <th class="carrito-color-top">Imagen</th>
            <th class="carrito-color-top">Nombre</th>
            <th class="carrito-color-top">Descripcion</th>
            <th class="carrito-color-top">Precio</th>
            <th class="carrito-color-top">Precio total</th>
            <th class="carrito-color-top">Cantidad</th>
            <th class="carrito-color-top">Acciones</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of productoEnCarrito; let i = index">
            <td class="carrito-color-{{i%2}}" class="fw-hold"><img [src]="item.producto.imagen" alt="{{item.producto.nombre}}" style="width: 50px; height: 50px;" class="img-thumbnail"></td>
            <td class="carrito-color-{{i%2}}"> {{item.producto.nombre}} </td>
            <td class="carrito-color-{{i%2}}"> {{item.producto.descripcion}} </td>
            <td class="carrito-color-{{i%2}}"> {{item.producto.precio | currency}} </td>
            <td class="carrito-color-{{i%2}}"> {{item.producto.precio * item.cantidad}} </td>
            <td class="carrito-color-{{i%2}}">
                <div class="btn-group" role="group" aria-label="Cantidad">
                    <button class="btn btn-sm boton" (click)="quitarCantidad(i)">-</button>
                    {{item.cantidad}}
                    <button class="btn btn-sm boton" (click)="agregarCantidad(i)">+</button>
                </div>
            </td>

            <td class="carrito-color-{{i%2}}">
                <button class="btn btn-outline-danger btn-sm" (click)="eliminarProducto(item.producto.id)">
                    Eliminar
                </button>
            </td>

        </tr>
    </tbody>
</table>


<div *ngIf="productoEnCarrito.length > 0" class="text-end mt-4">
    <h4 class="fw-bold total">Total: {{calcularTotal()}}</h4>
    <button class="btn btn-primary mt-2" (click)="irAformularioCompra()">Realizar Compra</button>
</div>

</div>