<h1>Carrito de Compras:</h1><br>

<div *ngIf="productoEnCarrito.length === 0">
    <p>No hay productos en el carrito :P</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="carrito-color-top">Imagen</th>
            <th class="carrito-color-top">Nombre</th>
            <th class="carrito-color-top">Descripcion</th>
            <th class="carrito-color-top">Precio</th>
            <th class="carrito-color-top">Precio total</th>
            <th class="carrito-color-top">Cantidad</th>
            <th class="carrito-color-top">Acciones</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of productoEnCarrito; let i = index">
            <td class="carrito-color-{{i%2}}"><img [src]="item.producto.imagen" alt="{{item.producto.nombre}}" style="width: 50px; height: 50px;"></td>
            <td class="carrito-color-{{i%2}}"> {{item.producto.nombre}} </td>
            <td class="carrito-color-{{i%2}}"> {{item.producto.descripcion}} </td>
            <td class="carrito-color-{{i%2}}"> {{item.producto.precio | currency}} </td>
            <td class="carrito-color-{{i%2}}"> {{item.producto.precio * item.cantidad}} </td>
            <td class="carrito-color-{{i%2}}">
                <button (click)="quitarCantidad(i)">-</button>
                {{item.cantidad}}
                <button (click)="agregarCantidad(i)">+</button>
            </td>

            <td class="carrito-color-{{i%2}}">
                <button (click)="eliminarProducto(item.producto.id)">Eliminar</button>
            </td>

        </tr>
    </tbody>
</table>


<div *ngIf="productoEnCarrito.length > 0">
    <button (click)="realizarCompra()" class="btn btn-succes" class="boton-compra">Realizar compra</button>
</div>