/*estilos generales*/
.body{
    background-color: rgb(104, 67, 18);
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*contenedor de las tarjetas*/
.card-container{
    display: flex;
    justify-content: center; /*lo centra orizontalmente*/
    gap: 20px; /*espacio entre las tarjetas*/
    flex-wrap: wrap; /*permite que se acomoden en pantallas chicas (flexea y warpea)*/
    padding: 20px;
}

/*estilos para la tarjeta*/
.card{
    width: 18rem;
    height: 450px;
    background-color: rgb(105, 57, 17);
    color: rgb(37, 22, 8);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px;
}

/*efecto cuando paso por encima de la tarjeta*/
.card :hover{
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2)
}

/*la imagen deentro de la tarjeta*/
.card img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

.card img:hover{
    transform: scale(1.04);
}


/*boton esterilizado (estilizado)*/
.card .btn{
    background-color: rgb(156, 94, 0);
    color: rgb(56, 37, 8);
    border: none;
    transition: background 0.3s ease-in-out;
}
.card .btn:hover{
    background-color: rgb(255, 255, 255);
}

.extra{
    background-color: rgb(158, 101, 27);
    color: rgb(80, 60, 23);
    border: none;
    transition: background 0.3s ease-in-out;
}
.extra:hover{
    background-color: rgb(255, 255, 255);
}

/*responsividad para pantallas chicas*/
@media(max-whidth:600px){
    .card-container{
        flex-direction: column; /*cambia a columna*/
        align-items: center; /*centra en pantallas chicas*/
    }
}


#boton-card{
    position: absolute;
    bottom: 0;
    width: 100%;
}

#boton-card:hover{
    scale: 1.05;
    transition: 0.3s ease-in-out;
}

#fav-card{
    position: absolute;
    bottom: 1;
    width: 15%;
    height: 10%;
    border-radius: 100%;
    scale: 1.3;
    padding: 10px;
    background-color: rgba(83, 79, 21, 0.5);
    color: rgb(255, 255, 255);
}

#fav-card:hover{
    background-color: rgba(95, 57, 0, 0.671);
    color: rgb(255, 255, 255);
    scale: 1.5;
    transition: 0.3s ease-in-out;
}


#info-card{
    width: 15%;
    height: 10%;
    border-radius: 100%;
    scale: 1.3;
    background-color: rgba(26, 67, 105, 0.5);
    color: rgb(255, 255, 255);
}

#info-card:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(35, 61, 99);
    scale: 1.5;
    transition:  0.3s ease-in-out;
}

.scroll-text{
    overflow: auto;
}


.filtros{
    width: 60%;
    height: 300px;
    background-color: rgba(184, 184, 184, 0.5);
    padding: 1%;
    border-radius: 2%;
}