/*estilos generales*/
.body{
    background: linear-gradient(to left, #b13dff, #b13dff);
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*contenedor de las tarjetas*/
.card-container{
    display: flex;
    justify-content: center; /*lo centra orizontalmente*/
    gap: 20px; /*espacio entre las tarjetas*/
    flex-wrap: wrap; /*permite que se acomoden en pantallas chicas (flexea y warpea)*/
    padding: 20px;
}

/*estilos para la tarjeta*/
.card{
    width: 18rem;
    height: 450px;
    background: linear-gradient(to left, #a21bfc, #c772ff);
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px;
}

/*efecto cuando paso por encima de la tarjeta*/


/*la imagen deentro de la tarjeta*/
.card img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

.card img:hover{
    transform: scale(1.04);
}


/*boton esterilizado (estilizado)*/
.card .btn{
    background: linear-gradient(to left, #d391ff, #e8c7ff);
    color: #7a2576;
    border: none;
}
.card .btn:hover{
    background: #fff;
}

.extra{
    background-color: #ffa8f881;
    color: #fff;
    border: none;
    transition: background 0.3s ease-in-out;
}
.extra:hover{
    background-color: #fff;
}

/*responsividad para pantallas chicas*/
@media(max-whidth:600px){
    .card-container{
        flex-direction: column; /*cambia a columna*/
        align-items: center; /*centra en pantallas chicas*/
    }
}


#boton-card{
    position: absolute;
    bottom: 0;
    width: 100%;
}

#boton-card:hover{
    scale: 1.05;
    transition: 0.3s ease-in-out;
}

#fav-card{
    position: absolute;
    bottom: 1;
    width: 15%;
    height: 10%;
    border-radius: 100%;
    scale: 1.3;
    padding: 10px;
    background-color: rgba(255, 134, 235, 0.466);
    color: rgb(255, 255, 255);
}

#fav-card:hover{
    background-color: rgb(229, 126, 255);
    color: rgb(255, 255, 255);
    scale: 1.5;
    transition: 0.3s ease-in-out;
}

.scroll-text{
    overflow: auto;
}

.filtros{
    display: flex;
    width: 100%;
    background-color: rgba(255, 194, 255, 0.5);
    padding: 1%;
    border-radius: 2%;
}

.campos{
    padding: 10px;
}